# Database
DB_HOST=db
DB_PORT=5432
DB_USER=notam
DB_PASSWORD=notam
DB_NAME=notam
DB_SSL=false
DATABASE_URL=postgres://notam:notam@db:5432/notam

# API
PORT=3001

# Frontend
VITE_API_URL=http://localhost:3001
VITE_MAPBOX_TOKEN=pk.eyJ1IjoicmljcmVpZyIsImEiOiJjbWcwZ2gyYm4wZDk5MmlvamdpbWR6cTA5In0.IsmjO6d-ClnQ3SybCESyCQ
